html {
  background-color: #f2f1ed;
  color: #222;
  font-family: georgia, serif;
  font-size: 2rem;
  line-height: 1;
  margin-top: -4%;
}

body {
  margin-top: -4%;
  line-height: 1;
}

/* nav */

ol {
  list-style-type: none;
  margin-top: -6%;
}

a {
  color: #793284;
  font-family: "Patua One", cursive;
  font-size: .6rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 1em;

}

a:hover {
  color: #b42885;
  font-family: "Patua One", cursive;
  font-size: .6rem;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  line-height: 1em;

}

/* headings */

h2 {
  color: #5d8432;
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  font-size: .7rem;
}

/* fig captions */

figcaption {
  font-size: .4rem;
  font-style: italic;
  text-align: center;
  line-height: 1.5em;
}

.hadrosaur {
  font-size: .5rem;
}

/* image */

img {
  width: 100%;
  margin-top: -4%;
}
